[2021-01-31 20:56] jevonmao opened #1 "Implement majority of iOS permissions"
- [x] Bluetooth
- [x] Calendar
- [x] Camera
- [x] Contacts
- [x] Motion
- [x] Notification
- [x] Reminders
- [x] Speech
- [x] Tracking
- [x] Location
- [x] Microphone
- [x] Photos

[2021-01-31 20:57] jevonmao opened #2 "Quick help documentation"
Inline documentation for all the public classes, structs, and methods.

[2021-01-31 20:58] jevonmao opened #3 "Complete, beautifully designed READ.ME page"
### **README Contents**

- [x] Example screenshots
- [x] Quickstart
- [x] Documentation
- [x] Contributing

[2021-01-31 21:29] jevonmao opened #4 "Adapt for dark mode"

[2021-02-01 02:00] #4 closed

[2021-02-01 02:01] #2 closed

[2021-02-01 05:14] jevonmao opened #6 "Customizable text for all permission cateogories"

[2021-02-02 19:50] #6 closed

[2021-02-02 21:59] jevonmao commented on #3
All done

[2021-02-02 21:59] #3 closed

[2021-02-03 00:40] #1 closed

[2021-02-03 00:43] jevonmao opened #8 "Use if #available version checking to conditionally create the tracking permission case"
Currently, the `PermissionModel` enum includes tracking as an accessible enum case for all versions (13.0). However, the tracking permission is only available in iOS 14+, thus it does not make sense to show a tracking permission in targets below 14.0.

Need to figure out a way to conditionally include the `tracking` enum case. The `requestPermission` method also need to have a version check if the

[2021-02-03 20:07] #8 closed

[2021-02-03 20:09] jevonmao opened #11 "Automatically dismiss modal if all permissions are allowed"

[2021-02-03 20:37] jevonmao opened #12 "A pop up alert style to supplement the current modal"
Something like this:
![image](https://user-images.githubusercontent.com/64660730/106807812-70a75a80-661e-11eb-9981-439409b30161.png)
Image credit: Varabeis's [SPPermissions](https://github.com/varabeis/SPPermissions)

[2021-02-03 20:38] jevonmao opened #13 "[Refactor] Store all view state variables in a sperate view model"

[2021-02-03 20:43] jevonmao opened #14 "[Refactor] Simplify custom text and image modifiers"
If possible, we should refactor over 40 modifiers for customizing the title and description of individual permissions into 1 single modifier. Ex. `.setPermissionTextTo(for permission:[Enum], to title:String)` The enum should reflect a type for all permissions.
**However, we won't fix this until ready for a major release. This will cause major API changes.**

[2021-02-03 22:18] jevonmao opened #15 "Public APIs for OnAppear and OnDisappear on JMPermission modal"

[2021-02-04 07:04] jevonmao opened #16 "Social media promotion checklist"
- [x] Post on my personal Instagram
- [x] Post on my personal Twitter
- [x] Reddit preview video - Swift
- [x] Reddit preview video - SwiftUI
- [x] Reddit preview video - iOS Developer
- [x] Reddit promo post - Swift
- [x] Reddit promo post - SwiftUI
- [x] Reddit promo post - iOS Developer
- [x] Project Hunt
- [x] Beta Page
- [ ] Email the Redditor who talked about a SwiftUI lecture session
- [ ]

[2021-02-06 08:13] #11 closed

[2021-02-08 18:11] #14 closed

[2021-02-08 18:11] #13 closed

[2021-02-08 21:41] #15 closed

[2021-02-08 21:43] jevonmao opened #18 "Config to show permission right before using"
Will use the UI popup alert design from #12. Suggested by Redditor.

[2021-02-08 21:43] jevonmao opened #19 "Add health permission"

[2021-02-08 21:57] jevonmao opened #20 "Allow some kind of data model to customize behaviors"
Suggestion from Redditor

[2021-02-09 08:21] varabeis opened #21 "Maybe you can add SPPermissions as link?"

[2021-02-09 16:17] jevonmao commented on #21
Yeah! The original creator of SPPermissions! I have your library mentioned first sentence in README.md, I will add a link.  Actually, I should probably write an entire acknowledgment section for you. Anyways, what do you think of my SwiftUI package? It's still very work in progress, but does it resemble SPPermissions?

[2021-02-09 17:17] varabeis commented on #21
It's have many same features and UI. If you want, I can propose some interesting things.

[2021-02-10 22:59] johnnythedoggie opened #22 "Use generics to replace AnyView"
Using AnyView is bad practice, and if it can be replaced (and I believe it can in this case) it should be.  With just a few changes, MainView.swift would be modified to look like this:

[code]

AnyView is used in many places and most (if not all) of them can be replaced with generics.  This won't break anyone's existing code either, the type will not be MainView, it will be MainView\<AnyView\>.  A

[2021-02-11 00:19] jevonmao commented on #22
@johnnythedoggie Thank you for bringing this up! I absolutely agree with you. Would you like to tackle this and open a pull request? If not, I will take care of this.

[2021-02-11 02:41] jevonmao commented on #19
Done

[2021-02-11 02:41] #19 closed

[2021-02-11 04:57] jevonmao commented on #22
@johnnythedoggie I would appreciate it if you can work on this and open a PR. It looks nice to have more than 1 contributor. New [version](https://github.com/jevonmao/PermissionsSwiftUI/releases/tag/1.1.0) is out, my goal is to implement this by v1.1.1

[2021-02-11 21:31] johnnythedoggie commented on #22
@jevonmao I'm still learning GitHub, so it may take me a bit.  I do plan to open a PR and make the change, but I'm confused how to do that.  I'll figure it out soon (hopefully) and go for it.  I'll ask if I have questions.

[2021-02-11 21:34] jevonmao commented on #22
@johnnythedoggie No problem at all. If you are not sure, read [this](https://www.freecodecamp.org/news/how-to-make-your-first-pull-request-on-github-3/) article that guides you through the entire process.
For step 3, simply name the branch `#22-any-view` to reference this issue number.
 Make sure you also have Xcode installed.

[2021-02-12 04:39] jevonmao commented on #12
Finished

[2021-02-12 04:39] #12 closed

[2021-02-12 04:39] jevonmao commented on #18
Finished

[2021-02-12 04:39] #18 closed

[2021-02-14 06:31] jevonmao commented on #21
Already added your link, if there is nothing else I will close the issue.

[2021-02-14 06:31] #21 closed

[2021-02-15 06:54] a-moss commented on #20
@jevonmao Could you elaborate a bit on the feature request here? What kind of behaviors should be customized?

[2021-02-15 07:58] jevonmao commented on #20
@a-moss Sure. I'm on my mobile device right now. I will provide a lot more detail for this issue, once I get access to my computer.

[2021-02-15 20:43] jevonmao opened #25 "[Action] - Allow some kind of data model to customize behaviors"
### Overview
A Redditor suggested that we provide a data model to be passed in to customize behaviors. When developers need to customize multiple, complex behaviors of PermissionsSwiftUI, they will have to write a stack of messy modifiers. However, a `PermissionStore` model that can be extracted into a view model will allow more efficient and cleaner customization. Tracking #20.

Reference code sn

[2021-02-15 20:50] jevonmao commented on #20
@a-moss Please reference #25, an Action issue tracking this feature. I have put all the to do items for this feature there. Since you are interested in this project, I very much appreciate your contribution.

[2021-02-15 21:00] jevonmao opened #26 "[Feature] - Automatically check if permission already granted, and only show alert if not granted"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
When developers are using the powerful feature of PermissionsSwiftUI in their iOS app, they might want to show the `JMModal` only on first app launch. Or, they might only want to show the `JMAlert` for camera permission right before user needs to use the camera. However, the alert and modal

[2021-02-16 02:41] jevonmao commented on #22
@johnnythedoggie Are you still interested in working on this issue? Just give me a status update please. If not, I will go ahead and do it.

[2021-02-16 16:47] jevonmao opened #28 "[Action] - Automatically check if permission already granted, and only show alert if not granted"
### Overview
The `JMModal` might be shown once at initial launch, and the `JMAlert` should only show if permission is not granted. PermissionsSwiftUI will awkwardly show a pop-up every single time. There needs to be an automatic checking for permission granted status before built into PermissionsSwiftUI. Tracking #26

### Action items

- [x]  Expose authorization status in permission managers
- [x

[2021-02-19 00:03] jevonmao opened #31 "[Action] - Create new enum for selecting permission type in customizing components"
### Overview
Currently, the one and only `PermissionType` enum is used to designate a specific type of iOS system permission. However, the health permission require an associated value to be passed in, and lead to unnecessary complications when customizing the health component. Please see visual references section. No tracking issue.

### Action items

- [ ]  Create new enum (name it meaningfully)

[2021-02-19 01:56] jevonmao opened #32 "[Feature] - Make transition animation for JMAlert smoother"
**Is your feature request related to a problem? Please describe.**
The popup animation for JMAlert is not smooth and fluid like Apple's native alert, especially when closing it.

**Describe the solution you'd like**
Custom implementation of `AnyTransition`.

[2021-02-20 04:30] jevonmao opened #33 "Closure to deliver back permission authorization status"
**Is your feature request related to a problem? Please describe.**
It will be really helpful if there can be a closure to deliver back the results of the permission request. I might want to program certain actions to take place after the permission request, and I want to know what permissions are denied, and what permissions are allowed, along with any error in the process.

**Describe the solutio

[2021-02-20 20:30] #16 closed

[2021-02-20 20:38] jevonmao commented on #28
Finished

[2021-02-20 20:38] #28 closed

[2021-02-20 21:40] #26 closed

[2021-02-20 21:59] khuffie opened #35 "Add ability to customize accent colour"
The default colour is blue for PermissionsSwiftUI, which doesn't quite work with my app's design.

For the permission images, I can pass in custom images and provide them with my preferred accent colour.

For the buttons, there seems to be no way to customize them. I see in the source code "ButtonStatusColor", but as it's not a public class I cannot extend it and over-ride it.

Being able to pass

[2021-02-20 22:13] jevonmao commented on #35
@khuffie Great suggestion. This feature will be added ASAP!

[2021-02-21 00:08] khuffie commented on #35
@jevonmao that's great! Let me know, anxious to release it :)

(PS: it would be good if the accent colour also affects the images :)

[2021-02-21 01:24] jevonmao commented on #35
@khuffie It's done! Worked on the project for the entire afternoon, and in the latest 1.2.2 release, you should be able to customize all the buttons, all the colors, for all states.
Use the `setAllowButtonColor(to colors:AllButtonColors)` view modifier

[2021-02-21 05:59] jevonmao commented on #35
@khuffie Actually, looking at this new API, it's badly designed. I don't like it, too complicated and unnecessary. I will rework this feature, and use a single modifier to change accent color of buttons and the image icons.

[2021-02-21 20:59] khuffie commented on #35
@jevonmao  no worries! Take your time :)

[2021-02-22 17:56] jevonmao commented on #35
@khuffie The feature is ready!. Please update to v1.2.3, and reference README.md if needed.

[2021-02-23 06:35] jevonmao commented on #25
Finished

[2021-02-23 06:35] #25 closed

[2021-02-23 06:35] jevonmao commented on #20
Finished

[2021-02-23 06:35] #20 closed

[2021-02-23 06:37] jevonmao commented on #22
I tried to do this, but for variety reasons, the `JMPermission` structure simply will not allow the pass in of another type other than `Image` if a generic is used to replace AnyView. **`AnyView` is a completelu type erased view, while a generic only works with 1 type that cannot be changed at runtime.** Will close for now due to inactivity.

[2021-02-23 06:38] #22 closed

[2021-02-24 00:30] jevonmao opened #38 "[Action] - Create a structure to encapsulate health permission read, write, and both"
### Overview
We should use a struct to encapsulate health permission case in `PermissionType` enum's associated value.

Because health permission is special and involves specific `read` and `write` permissions, the associated values for the health enum case can have different possibilities. Swift does not allow enum overloading, so its best to use a structure to encapsulate the information. Refere

[2021-02-24 00:32] jevonmao commented on #31
New action issue #38, once implemented, should render this issue obsolete and fixed.

[2021-02-24 00:32] #31 closed

[2021-02-27 06:19] jevonmao commented on #38
Done

[2021-02-27 06:19] #38 closed

[2021-02-28 16:14] gharary opened #40 "prevent dismiss modal before allowing all permissions"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

I need to prevent user from dismissing modal view before allowing all permissions.

[2021-02-28 18:32] khuffie opened #41 "[BUG] - For Health permissions, read and write permissions are switched."
I was getting the following error when trying to authorize HealthKit permissions:

`Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'Authorization to share the following types is disallowed: HKQuantityTypeIdentifierAppleExerciseTime, HKQuantityTypeIdentifierAppleStandTime'
`
I was pretty sure that I was initializing HKAccess with the correct permissions for read and

[2021-03-01 02:37] #35 closed

[2021-03-01 02:41] jevonmao commented on #41
Nice catch! I will fix the bug ASAP. About adding documentation on how to request health permissions, I thought you guys can figure it out with `Option + Left Click` quick help documentation on relevant structs and enums, and a lot of the instructions are in there. But still, I will add some instructions in README.md.

[2021-03-01 04:12] jevonmao commented on #41
#khuffie Try the newest version please.

[2021-03-02 00:38] jevonmao commented on #40
@gharary Thank you for this suggestion, I think it's great! BTW, what do you think about adding a error haptic when user tries to dismiss the view without allowing all permissions? Also, what do you think should happen if user explicitly deny some permissions?

[2021-03-04 14:48] gharary commented on #40
@jevonmao adding error haptic is so great. It improves the UI/UX so great.
About denying some permissions, we can pass the permission windows if the user has decided about all permissions needed (Allow or Deny). If denied, the user can be prompted again during the app to allow that permission.

[2021-03-04 19:23] jevonmao commented on #40
@gharary Sounds good! Stay tuned, this feature should be done within this week. 🙌

[2021-03-05 07:09] jevonmao commented on #32
Fixed

[2021-03-05 07:09] #32 closed

[2021-03-05 07:30] jevonmao commented on #40
@gharary Done. Please make sure your package is on the newest version, reference [here](https://github.com/jevonmao/PermissionsSwiftUI#restrict-dismissal) if needed.

[2021-03-05 07:31] jevonmao commented on #40
The haptic error still needs work (because SwiftUI does not offer a native way to react to a dismiss gesture), and it will take a while before I figure out the UIKit stuff underneath.

[2021-03-05 10:50] gharary commented on #40
So wonderful to see those changes soo quick. 👏

[2021-03-05 10:50] #40 closed

[2021-03-05 22:15] khuffie opened #44 "[BUG] - restrictDismissal not working"
Hello,

My app got rejected because the X button in the modal doesn't work. Looking at 1.3.0, I see restrictDismissal is a setting that's available.

Unfortunately, it doesn't seem to work.

Here's my code:

[code]

[2021-03-05 22:30] jevonmao commented on #44
@khuffie Thank you for the bug report. I tried to replicate your code on my side as best as I can:
[code]
Please see the screen recording.

https://user-images.githubusercontent.com/64660730/110180717-28b35900-7dbf-11eb-980a-7d0ec57659a7.mp4

I cannot seem to reproduce the bug you mentioned. Since you disabled `restrictDismissal`, that means the user can exit the modal view by swiping or tapping t

[2021-03-05 23:28] khuffie commented on #44
I figured out the issue.

I had the .JMModal modifier on the root App class. I moved it to the
ContentView class and it started working.

On Fri, Mar 5, 2021 at 5:30 PM Jevon Mao <notifications@github.com> wrote:

[2021-03-06 03:28] #44 closed

[2021-03-06 03:29] #41 closed

[2021-03-17 20:36] jevonmao opened #45 "[Action] Add media player (Apple Music) permission"
### Overview
Suggested by Gilles through email. Add the media player (Apple Music) permission into PermissionsSwiftUI's supported permissions. The media player permission is needed to play music through Apple Music.

### Action items

- [ ] Create new permission manager class and related functions implementation
- [ ] Create public API for new permission
- [ ] Run all unit tests, write tests
- [ ]

[2021-03-17 20:37] jevonmao opened #46 "[Refactoring] Change from singleton to dependency injection"

[2021-03-20 05:20] jevonmao opened #47 "[Action] - Refactor all view properties into proper MVVM view model"
### Overview
An overview description of this task, along with a reference to the actual bug or feature issue like: tracking feature `#72`.

### Action items

- [ ]  Step 1...
- [ ]  Step 2...
- [ ]  Step 3...

### Visual References
Put all the instructional images, visuals, and prototypes here for reference.

### Special Instructions
Add special instructions, warnings, previous issues, and other r

[2021-03-20 05:22] jevonmao opened #48 "[Action] - Fix awkward "compute once only" property in ModalMainView and PermissionSection"
### Overview
An overview description of this task, along with a reference to the actual bug or feature issue like: tracking feature `#72`.

### Action items

- [ ]  Step 1...
- [ ]  Step 2...
- [ ]  Step 3...

### Visual References
Put all the instructional images, visuals, and prototypes here for reference.

### Special Instructions
Add special instructions, warnings, previous issues, and other r

[2021-03-20 05:22] jevonmao opened #49 "[Action] - Refactor JMHealthPermissionManager to avoid a force unwrap in intializers"
### Overview
An overview description of this task, along with a reference to the actual bug or feature issue like: tracking feature `#72`.

### Action items

- [ ]  Step 1...
- [ ]  Step 2...
- [ ]  Step 3...

### Visual References
Put all the instructional images, visuals, and prototypes here for reference.

### Special Instructions
Add special instructions, warnings, previous issues, and other r

[2021-03-20 05:23] jevonmao opened #50 "[Action] - Debug location permission that is not working"
### Overview
An overview description of this task, along with a reference to the actual bug or feature issue like: tracking feature `#72`.

### Action items

- [ ]  Step 1...
- [ ]  Step 2...
- [ ]  Step 3...

### Visual References
Put all the instructional images, visuals, and prototypes here for reference.

### Special Instructions
Add special instructions, warnings, previous issues, and other r

[2021-03-20 05:23] jevonmao opened #51 "[Action] Fix initializer default implementation in PermissionManagerProtocol"
### Overview
An overview description of this task, along with a reference to the actual bug or feature issue like: tracking feature `#72`.

### Action items

- [ ]  Step 1...
- [ ]  Step 2...
- [ ]  Step 3...

### Visual References
Put all the instructional images, visuals, and prototypes here for reference.

### Special Instructions
Add special instructions, warnings, previous issues, and other r

[2021-03-20 05:23] jevonmao opened #52 "[Action] Finish implementing common interface for modal and alert modifier API"
### Overview
An overview description of this task, along with a reference to the actual bug or feature issue like: tracking feature `#72`.

### Action items

- [ ]  Step 1...
- [ ]  Step 2...
- [ ]  Step 3...

### Visual References
Put all the instructional images, visuals, and prototypes here for reference.

### Special Instructions
Add special instructions, warnings, previous issues, and other r

[2021-03-20 05:24] jevonmao opened #53 "[Action] Improve JMModal API view modifiers. Refactor, reference JMAlert modifiers' implementation."
### Overview
An overview description of this task, along with a reference to the actual bug or feature issue like: tracking feature `#72`.

### Action items

- [ ]  Step 1...
- [ ]  Step 2...
- [ ]  Step 3...

### Visual References
Put all the instructional images, visuals, and prototypes here for reference.

### Special Instructions
Add special instructions, warnings, previous issues, and other r

[2021-03-20 05:25] jevonmao opened #54 "[Action] Write unit tests for the new, redesigned code base for above 80% coverage"
### Overview
An overview description of this task, along with a reference to the actual bug or feature issue like: tracking feature `#72`.

### Action items

- [ ]  Step 1...
- [ ]  Step 2...
- [ ]  Step 3...

### Visual References
Put all the instructional images, visuals, and prototypes here for reference.

### Special Instructions
Add special instructions, warnings, previous issues, and other r

[2021-03-20 05:25] jevonmao opened #55 "[Action] Prepare for next version release. Write new documentation, update existing README, and migration guide"
### Overview
An overview description of this task, along with a reference to the actual bug or feature issue like: tracking feature `#72`.

### Action items

- [ ]  Step 1...
- [ ]  Step 2...
- [ ]  Step 3...

### Visual References
Put all the instructional images, visuals, and prototypes here for reference.

### Special Instructions
Add special instructions, warnings, previous issues, and other r

[2021-03-22 20:43] jevonmao opened #56 "[Action] - JMModal custom configurations are not working"
### Overview
An overview description of this task, along with a reference to the actual bug or feature issue like: tracking feature `#72`.

### Action items

- [ ]  Step 1...
- [ ]  Step 2...
- [ ]  Step 3...

### Visual References
Put all the instructional images, visuals, and prototypes here for reference.

### Special Instructions
Add special instructions, warnings, previous issues, and other r

[2021-03-22 21:19] #56 closed

[2021-03-22 21:19] #46 closed

[2021-03-22 21:19] #49 closed

[2021-03-22 21:19] #50 closed

[2021-03-22 21:19] #51 closed

[2021-03-22 22:29] jevonmao commented on #45
Implemented by a72763ad24e04f9e069b263b62e8bea01fb0c027

[2021-03-22 22:29] #45 closed

[2021-03-31 00:59] jevonmao opened #59 "Add CI check for documentation coverage"
Parse Jazzy doc's json file for coverage percent

[2021-03-31 00:59] jevonmao opened #60 "Add CI/CD check for documentation coverage"
Get coverage by Jazzy's JSON file

[2021-03-31 03:01] #52 closed

[2021-03-31 03:01] #53 closed

[2021-03-31 03:01] #59 closed

[2021-03-31 03:01] jevonmao commented on #59
Duplicate

[2021-03-31 04:09] wangrui460 opened #61 "can you add cocoapods?"
can you add cocoapods?

[2021-03-31 04:40] jevonmao commented on #61
@wangrui460 Thank you very much for the suggestion!  Previously I tried and I had trouble figuring it out, but yes, I can try.

In the meantime, you can use all of PermissionSwiftUI through Swift Package Manager!

[2021-03-31 18:40] gharary opened #62 "[BUG] - Using .JMModal with .sheet cause modal not to show"
**Describe the bug**
A clear and concise description of what the bug is.

I'm using .JMModal on my login view and also in this view I have .sheet but .JMModal won't show when I have .sheet.
If I delete that lines of code, then .JMModal show perfectly.

<img width="467" alt="Screen Shot 2021-03-31 at 11 09 24 PM" src="https://user-images.githubusercontent.com/16289125/113194246-29cc8e80-9276-11eb-8

[2021-03-31 19:26] jevonmao commented on #62
@gharary I tried it on my side, and I was able to successfully reproduce.
I think you can solve this problem by combining the 2 modals into 1, and conditionally show `JMModal` on `EmptyView()` or your custom view, `GetNumberRoot()` . For example:

[code]

[2021-03-31 19:34] jevonmao commented on #62
I hope that worked. By the way, I removed the bug label because this behavior is not a bug, using 2 `.sheet` modifiers will also produce this behavior because SwiftUI don't know what to do.

[2021-04-01 11:45] gharary commented on #62
Thanks for your great idea. Problem Solved!

[2021-04-01 11:45] gharary commented on #62
Thanks for your great idea. Problem Solved!

[2021-04-01 11:45] #62 closed

[2021-04-02 19:48] jevonmao opened #63 "Haptic feedback when attempt attempt to dismiss and dismiss is restricted"

[2021-04-02 19:52] jevonmao opened #64 "[Action] - Add backward compatibility for all configuration properties"

[2021-04-02 19:54] jevonmao commented on #55
Complete!

[2021-04-02 19:54] #55 closed

[2021-04-02 21:59] #33 closed

[2021-04-02 21:59] #63 closed

[2021-04-02 21:59] #64 closed

[2021-04-03 02:04] #60 closed

[2021-04-05 06:21] rahulbhalley opened #67 "Update to platform iOS 14"
**Is your feature request related to a problem? Please describe.**
I am building an app for iOS 14 but this package is only available for iOS 13.

**Describe the solution you'd like**
Update this package for use with iOS 14 in `Package.swift`.

**Describe alternatives you've considered**
No alternatives yet.

**Additional context**
N/A.

[2021-04-05 06:26] jevonmao commented on #67
@rahulbhalley oh my god, for this whole time? I will update ASAP, thank you for letting me know.

[2021-04-05 06:47] rahulbhalley commented on #67
Oops 😬, I'm sorry. It does work with iOS 14. I just had to restart my Xcode.

[2021-04-05 06:47] #67 closed

[2021-04-06 06:28] jevonmao commented on #61
@wangrui460 You can install PermissionsSwiftUI by Cocoapods: `pod 'PermissionsSwiftUI'`🙌. If there is any issue, feel free to follow up.

[2021-04-06 06:28] #61 closed

[2021-04-08 11:06] macteuts opened #71 "Unsafe Flags - Can't build any longer"
**Describe the bug**
Here is the alert I get when trying to build:
The package product 'PermissionsSwiftUI' cannot be used as a dependency of this target because it uses unsafe build flags.
This happens when updating to versions 1.4.0 or 1.4.1.
Version 1.3.0 still builds.

**To Reproduce**
Steps to reproduce the behavior:
Just build & run

**Expected behavior**
A clear and concise description of w

[2021-04-08 15:02] jevonmao commented on #71
@macteuts Got you, I made a mistake, this is supposed to be fixed in 1.4.1. I will fix this.

[2021-04-08 15:11] jevonmao commented on #71
1.4.0 should build, because the bug is accidentally introduced in 1.4.1. Can you verify that? If so, you can manually choose 1.4.0 in Xcode until I fix this bug.

[2021-04-10 17:44] jevonmao commented on #71
@macteuts I already pushed an update to fix v1.4.1. If there is nothing else, I will close the issue.

[2021-04-14 09:36] macteuts commented on #71
Sorry for the late answer. I'll test it today. thanks for the swift answer ^^. I'll let you know asap

[2021-04-15 18:05] macteuts commented on #71
It's working fine! bravo & thanks.

[2021-04-15 18:54] #71 closed

[2021-05-09 21:58] gharary opened #72 "[BUG] - Health authorization read only crash"
**Describe the bug**
A clear and concise description of what the bug is.

PermissionSwiftUI 1.4.1
`*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'Must request authorization for at least one data type'`

**To Reproduce**
[code]
`.JMModal(showModal:$showPermission,for:[.locationAlways,.health(categories: .init(read: readData)),.notification])
`

**Expected behav

[2021-05-10 15:06] jevonmao commented on #72
@gharary Acknowledged. Will try to reproduce and confirm this bug later today.

[2021-05-10 20:14] #72 closed

[2021-05-10 20:21] jevonmao commented on #72
Please try newest version @gharary

[2021-05-15 02:35] #54 closed

[2021-05-15 02:35] #48 closed

[2021-05-15 02:35] #47 closed

[2021-05-27 02:26] smaldd14 opened #74 "[BUG] - On click of Allow push notifications fails"
Hi, I've set up my iOS app to ask for permissions like so:
            .JMModal(showModal: self.$showModal, for: [.locationAlways, .notification])
Allowing location successfully changes button to allowed, but allowing push notifications does not change the button to allowed, therefore, I cannot exit the modal.

However, I do see printouts in my appDelegate's  didRegisterForRemoteNotificationsWithD

[2021-05-27 02:27] smaldd14 commented on #74
By the way, I am absolutely loving this package and its ease of use! I am really am enjoying this, just wondering why notifications does not work??

[2021-05-27 02:35] smaldd14 commented on #74
Also, as I'm testing more, I'm seeing if I stop the app from running AFTER I allow all notifications the first time, and then start the app again; when I get to the point when JMModal should show, it will not show (I'm assuming because all notifications have been allowed and JMModal recognizes that)

[2021-05-28 14:44] macteuts commented on #74
Same here. Allowing notifications does nothing any longer. No more screen update. Though I also believe the notifications have actually been allowed (didn't check yet).
Also the "close" button doesn't closes.

[2021-05-28 18:49] jevonmao commented on #74
@macteuts @smaldd14 Thank you very much for the bug report. I will look into the issue and try to reproduce it first. In the meantime, you might want to set `restrictDismissal` to false so it doesn't prevent user from dismissing the modal.

[2021-05-29 19:07] jevonmao commented on #74
@macteuts @smaldd14 The bug is confirmed, and after looking into it for a while, I cannot figure out the reason this is happening. I will continue to try to fix this, but if you are not using any 1.4.0 API, you should for now re-add the package 1.3.0 version which works perfectly and does not have this bug.

[2021-06-07 08:27] gharary commented on #74
Same here. Allowing notifications do nothing any longer.
Using 1.4.2 version.

[2021-06-09 00:09] smaldd14 commented on #74
Any updates on this bug??

[2021-06-09 00:21] smaldd14 opened #75 "[BUG] - Trying to ask for tracking permissions with iOS < 14.5 will cause crash"
**Describe the bug**
If you are not using iOS v14.5, the handlePermissionRequest()
permission.getPermissionManager()?.init(permissionType: permission) will return nil because version is less than 14.5...
This should be correct behavior, however, the next line in handlePermissionRequest() tries to force unwrap permissionManager by doing permissionManager!.requestPermission...

Would a if permission

[2021-06-09 00:30] jevonmao commented on #74
@smaldd14 WWDC 2021 just announced the new `async/await` feature which will be very useful to resolving this bug. ETA 2-3 more days needed to fix and new version will be released. Thank you everyone for understanding.

[2021-06-09 03:46] jevonmao commented on #75
@smaldd14 Please try newest 1.4.3 and see if it works.

[2021-06-09 03:46] jevonmao commented on #74
@macteuts @gharary @smaldd14 @fnazarios

Everyone, please try newest 1.4.3 version and see if it's fixed.

[2021-06-09 22:50] smaldd14 commented on #75
@jevonmao The button successfully changes to 'Allowed' but the modal that is showing still does not dismiss.

[2021-06-09 22:52] smaldd14 commented on #74
@jevonmao in version 1.4.3, the notifications button successfully turns to 'Allowed', but the auto dismissal still does not happen.is this something you're aware of?

[2021-06-09 23:04] smaldd14 commented on #75
@jevonmao It no longer crashes, but in PermissionType.swift, I see that you say  @available(iOS 14, *) case tracking... Correct me if I'm wrong, but I thought tracking was only available with iOS 14.5 and  newer. That is what this link says below. https://developer.apple.com/app-store/user-privacy-and-data-use/

It seems to work fine, however, like the comment in the other issue I have created, th

[2021-06-09 23:11] jevonmao commented on #75
@smaldd14 If you look into the v1.4 migration guide, it says:

`JMModal` will not be dismissed by swiping. The `autoDismiss` still work, but the user will always have to use the close button if `autoDismiss` is enabled. JMAlert is not affected.

HOWEVER, I plan to continue debugging and fixing this behavior bug because it's not optimal.

I will reproduce what you mentioned that setting `autoDismis

[2021-06-09 23:14] jevonmao commented on #75
@smaldd14 Yes you are correct, tracking permission only works above 14.5. But I made it available for iOS 14.0 since there is no compiler warning or error for that, meaning Apple's API is marked for 14.0.

[2021-06-12 03:02] smaldd14 opened #77 "[BUG] - When submitting app to app store connect, I must include ALL Privacy description strings. Even for permissions I am not using"
**Describe the bug**
I only use Location, notification permissions from this swift package. Yet I am asked to include all of these different type of usage description strings. I believe this is because this swift package uses all of the permission types in PermissionsManager. Is there a way for me to not include all usage descriptions?

ITMS-90683: Missing Purpose String in Info.plist - Your app's

[2021-06-12 05:11] jevonmao commented on #77
@smaldd14 Well that's bad. I think one potential solution is to break PermissionsSwiftUI into 13 different sub-packages that you add separately for each type of permission. I will try to come up with a fix.

[2021-06-12 05:36] jevonmao commented on #77
The sub-package idea is probably just as bad. What do you think if I provide a copypasta boilerplate that includes every single permission's info.plist in the README.md? I will also look into ways to automatically generate info.plist string perhaps?

[2021-06-12 15:27] smaldd14 commented on #77
@jevonmao that would be great! Thanks for being so helpful.

[2021-06-12 23:56] jevonmao commented on #74
Closing for now because this is fixed and no further activity.

[2021-06-12 23:56] #74 closed

[2021-06-12 23:57] jevonmao commented on #75
Resolved.

[2021-06-12 23:57] #75 closed

[2021-06-13 00:06] jevonmao opened #79 "[Action] - Permission submodules to avoid info.plist App Store rejection"
Currently PermissionsSwiftUI uses one whole module for all the permissions, resulting in App Store rejection￼ when used. Apple guidelines would require info.plist strings for all permissions referenced in code.

**Tracking bug** `#77`.

### Action items

- [x]  Define submodules in Package.swift
- [x]  Create new directories and move permission managers files accordingly
- [x]  Build & Test, pull

[2021-06-13 00:13] jevonmao opened #80 "Need to add FaceID permission"
This is a placeholder, I will elaborate further

[2021-06-13 00:14] jevonmao opened #81 "Need to add Siri permission"
This is a placeholder, I will elaborate later

[2021-06-13 02:21] smaldd14 commented on #79
@jevonmao Hi, thank you for your hard work on this bug. Any idea when we can expect to have this bug fix? I'd like to have the correct fix before submitting this build to App store connect

[2021-06-13 04:50] jevonmao commented on #79
@smaldd14 I will push out a new version release of PermissionsSwiftUI in about 2 days, with the bug fix.

[2021-06-13 23:04] jevonmao commented on #77
@smaldd14 PermissionsSwiftUI v1.5.0 is available now! Remove PermissionsSwiftUI in SPM and reinstall and only add permissions needed in the checkboxes. Let me know if it works.

[2021-06-13 23:04] jevonmao commented on #77
Implemented in v1.5.0.

[2021-06-13 23:04] #77 closed

[2021-06-14 00:23] smaldd14 commented on #79
@jevonmao I have uninstalled the PermissionSwUI package and reinstall and only checked boxes for Notifications, photo, Tracking, Location Always, and Contacts. When I go to build my project, I get build error like below

Showing Recent Messages
Undefined symbol: (extension in PermissionsSwiftUI):SwiftUI.View.JMAlert(showModal: SwiftUI.Binding<Swift.Bool>, for: [PermissionsSwiftUI.PermissionType])

[2021-06-14 00:25] jevonmao commented on #79
@smaldd14 Can you please provide Xcode version, MacOS version, deployment version, and simulator model?

[2021-06-14 00:29] jevonmao commented on #79
Also if possible, provide a code snippet and make sure you imported all the modules at top of file.

[2021-06-14 01:14] smaldd14 commented on #79
XCode version 12.4
MacOS Catalina 10.15.7
simulator model iPhone 12 pro (although doesn't even open up simulator because it fails before this
deployment version iOS 14.4

Full list of error

Undefined symbols for architecture x86_64:
  "(extension in PermissionsSwiftUI):SwiftUI.View.JMAlert(showModal: SwiftUI.Binding<Swift.Bool>, for: [PermissionsSwiftUI.PermissionType], onAppear: () -> ()?, onDis

[2021-06-14 01:16] smaldd14 commented on #79
I use JMAlert like so here
.JMAlert(showModal: self.$showModal, for: [.locationAlways, .notification, .tracking])
                    .changeHeaderDescriptionTo(permissionHeaderDescription)
                    .changeBottomDescriptionTo(permissionBottomDescription)

and here .JMAlert(showModal: self.$showModal, for: [.location, .notification, .tracking], onAppear: {}, onDisappear: {

[2021-06-14 02:23] jevonmao commented on #79
@smaldd14 Okay, in order to figure exactly what's going wrong, I need to verify whether the error is caused by my library or your system setup because all my devices are on Big Sur or Monterey and newer Xcode.

 **I would like you to create a new, blank Xcode project, and install PermissionsSwiftUI like you did. Then, add the `JMAlert` you had and try to compile. See if you get the same error**

[2021-06-15 18:24] #81 closed

[2021-06-16 03:42] mrsunx opened #84 "[BUG] - Apple rejects review because of HealthKit"
**Describe the bug**
In version 1.5.0, I only selected Notification and did a TestFlight review. But it was rejected by Apple and HealthKit was detected.

[code]

[2021-06-16 05:16] jevonmao commented on #84
@mrsunx I think I know what the issue is. The shared code module, `CorePermissionsSwiftUI` contains certain code that involves `import HealthKit` in order for structs like `HKAccess` and some mock testing objects to function.

I will move those code files into the health module and release a new version soon. Thanks for the report and support!

[2021-06-17 05:42] jevonmao commented on #84
@mrsunx Try 1.5.1 and let me know if it's fixed.

[2021-06-18 01:10] mrsunx commented on #84
It’s worked, thanks a lot

[2021-06-18 01:11] #84 closed

[2021-06-18 19:57] jevonmao commented on #79
Closing due to unreproducible and inactivity.

[2021-06-18 19:57] #79 closed

[2021-06-20 00:54] Itlink75 opened #89 "JMModal and JMAlert not recognized"
Was working fine for months are suddenly likely due to update, wouldn t compile anymore.

view has no type JMAlert nore JMModal
I tried to uninstall and reinstall but no difference . CLean buil , nodifference. Very similar to a closed issue:
who had those elements
XCode version 12.4
MacOS Catalina 10.15.7
simulator model iPhone 12 pro (although doesn't even open up simulator because it fails befor

[2021-06-20 05:30] jevonmao commented on #89
@Itlink75 Hi there! Thanks for the issue report.
## Recommended Fix
If your view has no type `JMAlert` nor `JMModal`, it's likely that Xcode did not fetch, link, import or compile the PermissionsSwiftUI package properly.

After v1.5.0, you might want to reinstall PermissionsSwiftUI and select only the submodules for permissions you use.

Please make sure that these setups are proper
1. Click on th

[2021-06-20 10:44] Itlink75 commented on #89
Hello,
with auto update , it wouldn t work . By reimporting main module 1.5 it would not work also .
Reimporting each module and not the main one makes the app compile again . Thanx for the support !

[2021-06-20 10:45] #89 closed

[2021-06-20 19:38] gharary opened #90 "[BUG] - Healthkit access shows denied even after allow - v 1.5.1"
I'm using version 1.5.1, and using Healthkit with PermissionUIHealth framework just to read some data, but when I click allow, JMModal shows `denied` not `allowed`.

[2021-06-20 20:42] jevonmao commented on #90
@gharary I don't recall this issue when testing, but I'm I aking a look.

[2021-06-20 22:27] jevonmao commented on #90
@gharary Okay got it, I confirmed this is a bug. The request is not affected though, only the UI is bug.

[2021-06-20 23:27] jevonmao commented on #90
v1.5.2 released. Should fix this issue.

[2021-06-21 08:06] #90 closed

[2021-07-29 18:11] gharary opened #93 "[BUG] - autoDismiss, dismiss the permissionView even by clicking on our of multiple items"
**Describe the bug**
A clear and concise description of what the bug is.

I have a JMModal with 3 permissions [Health, Motion, Notification].

By clicking any of them, with `autoDismiss` set to `true`, the view disappears without waiting for other permissions to be set.

Here is my code:

[code]

**Expected behavior**
disabling `autoDismiss` keeps the view open until manually dismiss it.

**Deskto

[2021-07-30 02:41] jevonmao commented on #93
Ok let me investigate this.

[2021-08-04 01:45] jevonmao commented on #93
Need a few more days, on trip right now.

[2021-08-09 20:18] jevonmao commented on #93
@gharary Try v1.5.3 and let me know if it's fixed.

[2021-08-10 05:06] gharary commented on #93
Problem solved. Thanks

[2021-08-10 05:06] #93 closed

[2021-08-30 22:33] smaldd14 opened #96 ".JMAlert(showModal: x, for: [y], restrictDismissal: z) not an option"
### Overview
There is no JMAlert with option to restrictDismissal. There IS one for JMModal, but I want to use JMAlert.

### Action items
 Option for .JMAlert(showModal: self.$showModal, for: [.notification, .tracking], restrictDismissal: false)

[2021-08-30 22:41] jevonmao commented on #96
@smaldd14 Really??! This is interesting, it should be exactly same for both, I will get this fixed.

[2021-09-01 11:33] cipolleschi opened #97 "[BUG] - JMNotificationPermissionManager does not work with iOS 15"
**Describe the bug**
I was building my project with iOS 15 and the library won't build.
Starting from iOS 15, [`UIApplication.shared.registerForRemoteNotifications()`](https://github.com/jevonmao/PermissionsSwiftUI/blob/main/Sources/PermissionsSwiftUINotification/JMNotificationPermissionManager.swift#L65) cannot be used in extensions anymore and the error suggests to use a `ViewController` impleme

[2021-09-01 22:22] jevonmao commented on #97
@cipolleschi I will get this fixed ASAP.

[2021-09-02 12:13] xoniq commented on #96
Also noticed this after switching from modal to alert.

[2021-09-03 05:34] jevonmao commented on #97
Follow up, I have attempted to reproduce this bug on Xcode 13, standard SwiftUI project for iOS, targeting iOS 15 and building for iOS 15 simulator. And I am not able to reproduce the error you are talking about. @cipolleschi

[2021-09-03 07:04] cipolleschi commented on #97
Thanks for being that prompt. We are seeing the error in a project with a WatchOS app associated.
I'll try to create a sample project and to attach it here as reference!

[2021-09-03 12:46] cipolleschi commented on #97
Hey, this is the example project with the error. Is an Empty WatchOS + iOS project in which I just added the PermissionSwiftUI Swift Package.

Let me know if I can help in any way!
[TestPermissionPackage.zip](https://github.com/jevonmao/PermissionsSwiftUI/files/7105912/TestPermissionPackage.zip)

[2021-09-03 16:03] jevonmao commented on #96
@xoniq @smaldd14 Please try v1.5.4

[2021-09-08 18:26] jevonmao commented on #97
A little bit busy for the past week, I will try to get to this today.

[2021-09-08 18:26] #96 closed

[2021-12-06 12:21] delvinwidjaja opened #106 "Translation for Allow-Button"
**Is your feature request related to a problem? Please describe.**
I know the word `Allow` is pretty self-explanatory in all languages. But, is there any possibility to change/translate this? I don't see any method for that. Thanks for the help!

[2021-12-06 14:51] jevonmao commented on #106
@delvinwidjaja Yes it's possible to localize, as shown in https://developer.apple.com/documentation/swift_packages/localizing_package_resources. I just need to find some time to implement it. Good feature request.

[2021-12-17 14:01] doubush opened #107 "[BUG] - EnvironmentObject not found error in ModalView"
**Describe the bug**
Error is

[code]

**To Reproduce**
When i have implemented the package usage 1 month ago it worked fine. But last week i tried to make new build and started to get this error.
It happens when i lick to allow  permissions (location), i see the dialog, click to enable and then this error appears

**Expected behavior**
Dialog is closed

**Screenshots**
https://paste.pics/8a3f3e91

[2021-12-19 01:23] jevonmao commented on #107
@doubush Can you provide the code you were using? Thanks.

[2021-12-19 01:29] jevonmao commented on #106
@delvinwidjaja Is there any specific language you want to translate to?

[2021-12-19 02:09] jevonmao commented on #106
Work in progress on PR #108

[2021-12-20 04:21] delvinwidjaja commented on #106
@jevonmao the app I'm working on is available in German, English, Finnish, Italian, and Danish. Thanks!

[2021-12-21 08:38] doubush commented on #107
There is my code
[code]

[2021-12-22 02:23] #97 closed

[2021-12-23 03:36] delvinwidjaja commented on #106
Will do that. Thanks again!

[2021-12-28 03:00] jevonmao commented on #107
@doubush Can you show the part of it using `JMModal` or `JMAlert`? That should help me better reproduce

[2022-02-01 02:16] #107 closed

[2022-02-03 04:56] delvinwidjaja commented on #106
Could you please merge the PR? The PR was closed due to inactivity

[2022-02-03 17:40] jevonmao commented on #106
Merged in, let me know if it works.

[2022-03-25 19:09] #106 closed

[2022-04-18 04:38] SNQ-2001 opened #112 "[BUG] - Review rejected due to "PermissionsSwiftUI"."
**Describe the bug**
Adding "PermissionsSwiftUI" to the project will cause the review to be rejected.

See Screenshots for details.

**To Reproduce**
Steps to reproduce the behavior:
1. Add "PermissionsSwiftUI" to the project
2. Submit your project to App Store Connect

**Screenshots**
Reject details
<img width="1013" alt="スクリーンショット 2022-04-18 13 26 30" src="https://user-images.githubusercontent.c

[2022-04-20 21:35] jevonmao commented on #112
@SNQ-2001 Interesting, you must be the few people who got rejected. To be honest I don't see much difference between "ALLOW" and "NEXT". But I guess we will have to change the button text for the tracking permission.

[2022-04-20 21:35] jevonmao commented on #112
Feel free to open a PR on this one everyone.

[2022-05-09 08:50] delvinwidjaja commented on #106
@jevonmao could we expect this to be in the new release of the main branch?
And the translated button for the text that I mentioned here https://github.com/jevonmao/PermissionsSwiftUI/commit/b19c90ca935ca15cc3b8d5ecc2800c320d3d6a0d#r71088108
Thanks!

[2022-05-13 00:54] jevonmao commented on #106
@delvinwidjaja Done.

[2022-05-14 16:19] edorphy commented on #112
Some of the words that I can relate to Apple not liking, as a user I'd decline right away. Words like "Need Permissions" and "If you do not allow it, some functions may not be available" don't build trust or explain to the user what so ever. Out of curiosity, what have you specified in your App Privacy Label? Apple is going to be very sensitive to App Tracking Transparency, and this experience is

[2022-05-14 21:44] jevonmao commented on #112
@SNQ-2001 Fixed in v1.5.6. Set the `useAltButton` parameter to true, so it shows "NEXT".

[2022-05-14 21:44] #112 closed

[2022-10-11 10:59] khuffie opened #117 "Hide dismissal button when restrictDismissal is set to true"
App Review is starting to reject my updates for two reasons:

- In the permission prompt screen, I allowed users to dismiss it. Apparently this is a no-no. It was solved by setting restrictDismissal to true.
- Now that user's cannot dismiss the screen, this is the rejection notice:
"Specifically, the cancel (“x”) button on the permission screen was still present but unresponsive."

So essentially,

[2022-10-30 12:19] SNQ-2001 opened #119 "[BUG] - UI bug when using "Slide Over""
**landscape orientation**

https://user-images.githubusercontent.com/84154073/198878027-1363838d-2dea-421e-9102-c976563abf00.MP4

**portrait orientation**

https://user-images.githubusercontent.com/84154073/198878023-dcc9b875-9cc7-4d6b-9e8e-a360e60ef7c7.MP4

[2022-11-05 20:59] FedorovMisha opened #120 "[BUG] - Modal Style. Dismiss button. Not working"
**Describe the bug**
Having tried to run the first example, I caught this error. The cross button does not work. It doesn't close the modal window.

**To Reproduce**
Steps to reproduce the behavior:

1. Insert this in ContentView.swift

   struct ContentView: View {
       @State var showModal = false
       var body: some View {
           Button(action: {
               showModal=true

[2022-11-05 21:02] FedorovMisha commented on #120
When trying to find what the problem is, I came across these lines
<img width="962" alt="Screenshot 2022-11-05 at 23 54 29" src="https://user-images.githubusercontent.com/60353834/200141190
<img width="1050" alt="Screenshot 2022-11-05 at 23 50 59" src="https://user-images.githubusercontent.com/60353834/200141192-78b0e9d8-05ff-4b63-a60b-c0579a52fd18.png">
-246d8bf2-17d3-49da-a61b-1673c9b0455a.png">

[2022-11-05 21:04] FedorovMisha commented on #120
@jevonmao

[2022-11-05 21:12] #120 closed

[2022-11-13 19:42] drewg233 opened #121 "Route to App Settings"
**Is your feature request related to a problem? Please describe.**
As of right now, if the user denies a permission, the button just shows denied.

**Describe the solution you'd like**
If any permissions have been denied at all for an alert or model, have some easy way for the user to route to the apps settings for them to change.

**Describe alternatives you've considered**
Not really other than

[2022-11-17 03:50] xpnewmedia commented on #121
What did you end up doing to route into app settings? thx

[2022-11-17 03:53] xpnewmedia commented on #117
@khuffie did you get your app submitted with this library?

[2022-11-17 04:01] drewg233 commented on #121
Ended up not using this library for now.

[2022-11-17 04:37] jevonmao commented on #121
@drewg233 Definitely a valid feature to consider. The way I understand, you want an inlined button of some sort to reroute the user to settings view in case of denial?

As a temporary solution you might be able to implement a custom screen after the PermissionsSwiftUI view for rerouting to settings, using the JMResults handler which exposes permissions that are denied by user?.

[2022-11-17 16:24] khuffie commented on #117
@xpnewmedia - I created a branch with the source code and did a fix to hide the button, which allowed it to go through the approval process.

[2022-11-22 12:02] ryaaanb opened #122 "[Feature] - UI accessibility"
I've recently had a negative review for my app stating that the user couldn't read the additional information for the permissions modal... now looking at it I can see why they found it quite difficult to read as the light grey text merges with the background too much.

![IMG_5336](https://user-images.githubusercontent.com/64364246/203308963-db6747e7-5450-4da8-b829-5c1262842b2f.jpg)

I can't see an

[2022-11-25 11:39] delvinwidjaja opened #123 "[BUG] - Modal only gets triggered once on app install"
**Describe the bug**
Modal only gets triggered once when the app is installed

**To Reproduce**
Steps to reproduce the behavior:
After the user gives permission to the app, the user can revoke the permission manually in settings.
Apparently, the new state of the permissions given can't be detected. When I try to show the modal by observing the permission value it shows nothing.

**Smartphone (plea

[2022-11-25 11:40] delvinwidjaja commented on #123
@jevonmao is this the expected behavior?

[2022-11-28 17:25] jevonmao commented on #123
@delvinwidjaja Yes this is expected and not a bug. It should check with system API every time, and show the pop up if permission status is `undetermined`. However, if user manually revokes the permission in settings, the status changes to explicitly `denied`, which can only be regranted by user toggling it back in settings. The app cannot show the prompt again.

But this is a good feature for futu

[2022-11-28 17:38] jevonmao commented on #122
Good feature request.
Just need to expose the color modifier to API.
https://github.com/jevonmao/PermissionsSwiftUI/blob/main/Sources/CorePermissionsSwiftUI/SwiftUI/Shared/PermissionSectionCell.swift#L76

[2022-11-29 18:28] delvinwidjaja commented on #123
Thanks for the clarification. Cheers!